@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --red-color: #d53b12;
    --main-color: #6DE8EA;
    --bg-color: #1F2C39;
    --block-color: #304357;
    --form-color: #304357;
    font-family: 'Times New Roman', Times, serif;
}
  
::-webkit-scrollbar {
  height: 5px;
  width: 5px; /* ширина для вертикального скролла */
  background-color: #b9b9b9;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #74818aee;
  border-radius: 1em;
}

.lim-txt{
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}